/*!normalize.css v3.0.1 | MIT License | git.io/normalize */ html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}pre{overflow:auto;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}input{line-height:normal;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;padding:0;}textarea{overflow:auto;}optgroup{font-weight:bold;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}

/* ==========================================================================
   Most theme settings should be stored in Sassy CSS variables here, for reuse.
   ========================================================================== */
/*!theme settings */
$site-max-width:          60 * {{ settings.base_font_size }};
$breakpoint-small-screen: 30 * {{ settings.base_font_size }};
$gutter:                  1 *  {{ settings.base_font_size }}; 
$background-color:        {{ settings.background_color }};
$text-color:              {{ settings.text_color }};
$link-color:              {{ settings.link_color }};
$base-font-family:        {{ settings.base_font_family }};
$base-font-size:          {{ settings.base_font_size }};
$heading-font-family:     $base-font-family;
$heading-font-weight:     600;

/* Table of content */
/* General
   1.  Base styles
   2.  Forms
   3.  Tables
   4.  Layout
   5.  Header
   6.  Navigation
   7.  Tags
   8.  Social and payment methods
   9. Footer

   Pages
   1.  Blog
   2. Product and collection pages
   3. Search form and search results
*/

/* ===========================================================================
   General
   ===========================================================================
*/
@import "./general/_base.scss";
@import "./general/_forms.scss";
@import "./general/_tables.scss";
@import "./general/_layout.scss";
@import "./general/_header.scss";
@import "./general/_navigation.scss";
@import "./general/_tags.scss";
@import "./general/_social.scss";
@import "./general/_footer.scss";


/* ============================================================================
   Pages
   ============================================================================
*/
@import "./pages/_blog-page.scss";
@import "./pages/_product-collection-page.scss";
@import "./pages/_search-page.scss";

