/* ================
   4. Layout
   ================ */

/* Control the web page maximum width. */
.container {
  width: 85%;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $gutter 0;
}

/* Safeguards for floats. */
header, #main, footer {
  @extend .clear;
  @extend .clearfix;
}

/* Add some space below main section. */
header, #main {
  @extend .section-margins;
}

/* Using border-box makes it easier to work with grids: 
   See http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* The Grid. */
.row {
  margin-left: -$gutter;
  margin-right: -$gutter;
  margin-bottom: $gutter;
  clear: both;
} 
.column {
  float: left;
  padding-left: $gutter;
  padding-right: $gutter;
  padding-bottom: $gutter;
}
.column.full { width: 100%; }
.column.three-quarters { width: 75%; }
.column.two-thirds { width: 66.6%; }
.column.half { width: 50%; }
.column.third { width: 33.3%; }
.column.fourth { width: 25%; }
.column.fifth { width: 20%; }
.column.sixth { width: 16.6%; }
.column.flow-opposite { float: right; } 
.grid { 
  @extend .row; 
}
.grid > li {
  @extend .column;
}
.two-per-row {
  @extend .column.half;
}
.three-per-row {
  @extend .column.third;
}
.four-per-row {
  @extend .column.fourth;
}
.five-per-row {
  @extend .column.fifth;
}
.six-per-row {
  @extend .column.sixth;
}
.product {
  @extend .row;
}
.product-photos, .product-details {
  @extend .column;
  @extend .column.half;
}

@media (max-width: $breakpoint-small-screen) {
  .column {
    float: none;
    width: 100% !important;
  }
}

/* Clearfix applied to .row because row content is floated. */
.row { @extend .clearfix; }

/* Show and hide depending on screen size. */
@media (max-width: $breakpoint-small-screen) {
.show-on-large, .show-on-medium, .hide-on-small { display: none; }
}
@media (min-width: $breakpoint-small-screen) {
.hide-on-large, .show-on-medium, .show-on-small { display: none; }
}

/* IE8 does not support media queries */
.lt-ie9 .show-on-medium, .lt-ie9 .show-on-small { display: none; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Utility classes: Hidden, float left, float right, etc. */
.hidden { display: none; }
.left { float: left; padding-right: $gutter; }
.right { float: right; padding-left: $gutter; }
.centered { text-align: center; }
.left-aligned {
  text-align: left;
  @media (max-width: $breakpoint-small-screen) {
    text-align: center;
    margin: $gutter 0;
  }
}
.right-aligned { 
  text-align: right;
  @media (max-width: $breakpoint-small-screen) {
    text-align: center;
    margin: $gutter 0;
  }
}
.clear { clear: both; }
.clear-after { *zoom: 1; }
.clear-after:after { content: ''; display: table; clear: both; }

