/* ==================
   6. Navigation
   =================== */

/* Main navigation with drop-down menu support */

@media (max-width: $breakpoint-small-screen) {
  nav.left {
    float: none;
    display: block;
    padding-right: 0;
    width: 100%;
    text-align: center;
  }
}

nav ul {
  margin: 0;
  li {
    display: inline-block;
    position: relative;
    padding: $gutter/2;
    margin: 0;
    &.first {
      padding-left: 0;
    }
    &.last {
      padding-right: 0;
    }
  }
  ul {
    display: none;
    margin: 0;
    position: absolute;
    top: 100%;
    left: -0.5 * $gutter;
    background-color: lighten( $background-color, 15% );
    border: 1px solid darken( $background-color, 15% );
    -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 1px 1px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 1px 1px 0px rgba(50, 50, 50, 0.2);
    text-align: left;
    z-index: 2;
    li {
      display: block;
      padding: $gutter/3 $gutter;
      &:first-child {
        padding-top: $gutter;
      }
      &:last-child {
        padding-bottom: $gutter;
      }
    }
  }
}

/* CSS triangle at the top of drop-down menus. */
nav ul ul li:first-child a:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid lighten( $background-color, 15% );
  z-index: 1;
}
/* Border for the CSS triangle at the top of drop-down menus. */
nav ul ul li:first-child a:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid darken( $background-color, 15% );
  z-index: 0;
}

/* Revealing drop-down menus on hover */
nav li:hover ul { display: block; }

/* Styling active links. */
nav li.active > a { color: $link-color; }
