/* ==============
   8. Social
   ============== */

.social-links a {
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  padding-right: $gutter/6;
  text-decoration: none;
}

/* IE8 does not support SVG. */
.lt-ie9 .payment-types { display:none; }

