/* ================
   3. Tables
   ================ */

table { 
  width: 100%;
  @extend .section-margins; 
  th, td {
    padding: 1em;
  }
  tr {
    border-bottom: darken( $background-color, 10%) 1px solid;      
  }
  th {
    text-align: left;
  } 
}
