/* ==========================================================================
  10. Product and collection pages.
  ========================================================================== */

.product-details > div,
.product-details > p {
  @extend .section-margins;
}

.product-photo-container {
  @extend .grid-margins;
}

/* Quickly hiding default variant drop-down when JavaScript is enabled */
/* See this: http://www.learningjquery.com/2008/10/1-way-to-avoid-the-flash-of-unstyled-content/ */
.js #product-select { display: none; }

/* Product option wrapper. */
.selector-wrapper {
  @extend .paragraph-margins;
}

.sort-by {
  margin-top: .25rem;
}

@media (max-width: $breakpoint-small-screen) {
  .sort-by {
    float: none;
    margin-bottom: $gutter;
  }
}

.prod-caption {
  margin: $gutter/6 0;
}

.product-photo-thumb:nth-child(2n+1) {
  clear: both;
}

@media (max-width: $breakpoint-small-screen) {
  .two-per-row.product-photo-thumb {
    width: 50% !important;
    float: left !important;
  }  
}
